<hr class="post-divider">
<div class="social-icons">
  <a href="https://www.facebook.com/gitesh.g.sharma" target="_blank" rel="noopener" class="facebook" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/giteshsharma_" target="_blank" rel="noopener" class="instagram" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
  <a href="https://youtu.be/kJHVeDs999w?si=B9_36mbrIo-SJCcL" target="_blank" rel="noopener" class="youtube" aria-label="YouTube"><i class="fa fa-youtube-play"></i></a>
  <a href="https://www.whatsapp.com/channel/0029Va9TSWEInlqWFXYRvx02" target="_blank" rel="noopener" class="whatsapp" aria-label="WhatsApp"><i class="fa fa-whatsapp"></i></a>
</div>

<!-- FOOTER -->
    <div class="footer">
      © 2026 Sharmaji Technology Media<br>
      <a href="{{ site.url }}/en/org/legal/privacy.html">Privacy</a> • <a href="{{ site.url }}/en/org/sitemap.html">Sitemap</a>
    </div>
<div class="footer">
  © {{ 'now' | date: "%Y" }} Sharmaji Technology Media<br>
  <a href="{{ site.baseurl }}/about.html">About</a> • <a href="{{ site.baseurl }}/sitemap.xml">Sitemap</a>
</div>
