<header class="blog-header">
  <div class="header-left">
    <!-- Logo -->
    <a href="{{ site.baseurl }}/" class="logo-link">
      <img src="{{ site.baseurl }}/assets/images/blog-post-images.webp" alt="Logo" class="logo-img">
    </a>
    <span class="slash">/</span>
    <!-- Blog text -->
    <a href="{{ site.baseurl }}/" class="blog-link">
      Blog
    </a>
  </div>

  <nav class="header-nav">
    <a href="{{ site.url }}/en/">Home</a>
    <span>•</span>
    <a href="{{ site.baseurl }}/">Blog</a>
    <span>•</span>
    <a href="{{ site.url }}/en/org/contact-us.html">Contact</a>
  </nav>
</header>
