---
layout: default
---

<div class="wrapper">
  <div class="card">
    <div class="post-content">
    <h1>{{ page.title }}</h1>
    <hr class="post-divider">
    <div class="post-meta">
    <i class="fa fa-user-circle-o"></i> {{ page.author | default: "Gitesh Sharma" }} •
    <i class="fa fa fa fa-calendar"></i> {{ page.date | date: "%d %B %Y" }} •
    <i class="fa fa fa-clock-o"></i> {{ content | number_of_words | divided_by: 200 | plus: 1 }} min read
    </div>
    <hr class="post-divider">
    <p>{{ content }}</p>
  </div>
    
    <hr class="post-divider">

      {% unless page.url == "/blog/" %}
  <div class="post-share">
  <span>Share:</span>
  <a href="https://wa.me/?text={{ page.title | url_encode }}%20{{ page.url | absolute_url }}" target="_blank">
    <i class="fa fa-whatsapp"></i>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url }}" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  <button onclick="copyPostLink()">
    <i class="fa fa-link"></i>
  </button>
  </div>
  {% endunless %}


<hr class="recent-divider">

<section class="recent-posts">
  <h3>Recent Posts</h3>
  <ul>
    {% for post in site.posts limit:5 %}
      {% if post.url != page.url %}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
        <span class="post-date">
          {{ post.date | date: "%d %B %Y" }}
        </span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>


    
    {% include footer.html %}





<script>
function copyPostLink(){
  navigator.clipboard.writeText(window.location.href);
  alert("Post link copied 👍");
}
</script>


    
</div>
