---
layout: default
---

<div class="wrapper">
  <div class="card">
    <div class="post-content">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
    <i class="fa fa-user-circle-o"></i> {{ page.author | default: "Gitesh Sharma" }} •
    <i class="fa fa fa fa-calendar"></i> {{ page.date | date: "%d %B %Y" }} •
    <i class="fa fa fa-clock-o"></i> {{ content | number_of_words | divided_by: 200 | plus: 1 }} min read
    </div>
    <p>{{ content }}</p>
  </div>
    
    {% unless page.url == "/blog/" %}

<div class="post-share">
  <span>Share:</span>

  <a href="https://wa.me/?text={{ page.title | url_encode }}%20{{ site.url }}{{ page.url }}" target="_blank">
    <i class="fa fa-whatsapp"></i>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>

  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>

  <button onclick="copyPostLink()">
    <i class="fa fa-link"></i>
  </button>
</div>

{% endunless %}
    
    {% include footer.html %}
</div>
